<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập thành công</title>
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var token = /*[[${token}]]*/ 'defaultToken';
        var email = /*[[${email}]]*/ 'defaultEmail';
        var role = /*[[${role}]]*/ 'PATIENT';

        localStorage.setItem('token', token);
        localStorage.setItem('email', email);
        localStorage.setItem('role', role);

        if (role === 'ADMIN') {
            window.location.href = '/admin/dashboard';
        } else if (role === 'PATIENT') {
            window.location.href = '/patient/homepage';
        } else if (role === 'DOCTOR') {
            window.location.href = '/doctor/homepage';
        } else {
            window.location.href = '/';
        }
        /*]]>*/
    </script>
</body>
</html>
